@import "variables"

.header
  @extend .FONT_LARGE

  display: flex
  justify-content: space-between
  padding-bottom: $PADDING_BASE * 5

  .left *, .right *
    font-weight: $BOLD

  .active
    color: $COLOR_RED
